*{
    padding:5%;
    margin: 0;
    background-color: gray;
}
.container{
    border-radius:  50px;
    background-color: white;
    height: 80vh;
    width:80vw;
    margin-left:30px ;
    margin-right:30px ;
  
    box-shadow:inset;
}